body {
    background: #3b4452;
    color: #fff;
}
.header-wrapper {
    min-height: 70px;
}

footer.footer {
    margin-top: 30px;
}

.home-promo .title .bottom {
    font-size: 22px;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}